alabaster==0.7.16
# Change concurrently with the required ansible version in sample.yml - update comment in sample.yml as needed
ansible==9.3.0
pytest==8.4.2
pytest-cov==7.0.0
PyYAML==6.0.3
Sphinx==7.4.7
ansible-lint==6.22.2
netaddr==0.8.0
flake8==6.1.0
pylint==3.3.9
pre-commit==4.3.0
