# SPDX-License-Identifier: MIT
# Application
WP_ENV=development
WP_HOME=http://localhost
WP_SITEURL=${WP_HOME}/wp

# Database
DB_NAME=pausatf
DB_USER=pausatf
DB_PASSWORD=secret
DB_HOST=localhost
DB_CHARSET=utf8mb4
DB_COLLATE=

# Authentication Unique Keys and Salts
AUTH_KEY=change-me
SECURE_AUTH_KEY=change-me
LOGGED_IN_KEY=change-me
NONCE_KEY=change-me
AUTH_SALT=change-me
SECURE_AUTH_SALT=change-me
LOGGED_IN_SALT=change-me
NONCE_SALT=change-me

# Security
DISALLOW_FILE_EDIT=true
DISALLOW_FILE_MODS=false
FORCE_SSL_ADMIN=false

# Custom
TABLE_PREFIX=wp_
